body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
    touch-action: none;
}

h1 {
    background: #7F7FD5;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-tool{ /* pens and eraser*/
    background-color: #00000000;
    border: none;
}

.button-tool:hover{
    transform: scale(1.2); 
}

#eraser{
    background-image: url(images/toolButtons/eraser.svg);
    background-repeat: no-repeat;
    width: 100px;          
    height: 400px;
    position: absolute;
    left: 450px; 
    top: 600px;
    rotate: 20deg;
}

#brushSmall{
    background-image: url(images/toolButtons/pencil.svg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100px;
    position: absolute;
    left: 350px; 
    top: 400px;
    rotate: 10deg;
}

#brushMed{
    background-image: url(images/toolButtons/sharpie.svg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100px;
    position: absolute;
    left: 250px; 
    top: 400px;
    rotate: -5deg;
}

#brushbig{
    background-image: url(images/toolButtons/phat-marker.svg);
    background-repeat: no-repeat;
    height: 500px;
    width: 150px;
    position: absolute;
    left: 60px; 
    top: 400px;
}

.button-main{ 
    background-color: #00000000;
    border: none;
    padding: 5%;
}

.button-main:hover{
    transform: scale(1.1); 
}

#clear{
    background-image: url(images/toolButtons/ClearButton.svg);
    background-repeat: no-repeat;
    height: 20%;
    width: 20%;
    position: absolute;
    margin-left: 2%; 
    right: 5%; 
    top: 85%;
}

#undo{
    background-image: url(images/toolButtons/UndoButton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 10%;
    width: 10%;
    right: 5%; 
    top: 70%;
}

#redo{
    background-image: url(images/toolButtons/RedoButton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 10%;
    width: 10%;
    right: 5%; 
    top: 75%;
}

#save{
    background-image: url(images/toolButtons/done-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20%;
    width: 20%;
    position: absolute;
    right: 0px; 
    top: 90%;
}

.label-container{
    position: relative;
}

#stroke{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    position: absolute;
    right: 30%; 
    top: 10%;
}

.color-label{
    position: absolute;
    right: 30%; 
    top: 10%;
    transform: translate(50px, -30px);
}

input[type="file"]{
    display:none
}

label{
  margin-right: -50px
}

#upload{
    position: absolute;
}

#guideButton{
    background-image: url(images/toolButtons/HowToButton.svg);
    background-color: rgba(0, 0, 0, 0);
    border:rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12%;
    width: 14%;
    position: absolute;
    right: 50%; 
    top: 10%;
    transform: translate(50px, -30px);
}

.imageUpload{
    position: absolute;
    right: 10%; 
    top: 10%;
    transform: translate(50px, -20px);
}

.background1 {
    background-image: url(images/computer-topRight-border-01.svg);
    /* background-color: antiquewhite; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.background2 {
    background-image: url(images/computer-bottomLeft-border-01.svg);
    /* background-color: antiquewhite; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.background3 {
    background-image: url(images/Title_MAIN.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 50%;
}
@media screen and (max-width: 650px) {


}
@media screen and (max-width: 550px){

#eraser{
    background-image: url(images/toolButtons/eraser.svg);
    background-repeat: no-repeat;
    width: 50px;          
    height: 150px;
    position: absolute;
    left: 105px; 
    top: 650px;
    rotate: 0deg;
}

#brushSmall{
    background-image: url(images/toolButtons/pencil.svg);
    background-repeat: no-repeat;
    height: 260px;
    width: 50px;
    position: absolute;
    left: 150px; 
    top: 600px;
    rotate: 10deg;
}

#brushMed{
    background-image: url(images/toolButtons/sharpie.svg);
    background-repeat: no-repeat;
    height: 250px;
    width: 50px;
    position: absolute;
    left: 56px; 
    top: 600px;
    rotate: 0deg;
}

#brushbig{
    background-image: url(images/toolButtons/phat-marker.svg);
    background-repeat: no-repeat;
    height: 250px;
    width: 50px;
    position: absolute;
    left: 9px; 
    top: 620px;
}
}
